
/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');
*{
    box-sizing:border-box ;
}
header,
section{
    overflow-x: hidden;
}
:root{
    --Snigle-font:"Sniglet", cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to buttom, #dd2476, #ff512f );
    --light-gray:rgba(255,255,255,0);
}
header a{
    font-family: var(--Snigle-font);
    font-size:0.9em;
    color: whitesmoke;
}
header{
    background:#dd2476 ;
    background: var(--bggradient);
}
.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width:160px ;
    box-shadow: 0px 2px 15px 0px rbga(0,0,0,0.2);
    z-index:1;

}
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;

}
.dropdown-content a:hover{
    background-color:#ddd ;
}
.dropdown:hover.dropdown-content{
    display:block;
}
header .nav-item:last-child{
    padding-right: 10.5em;
}
header.nav-item{
     padding:0.9em;
 }
header.navbar-brand{
    padding-left: 8rem;
}
header .nav-link:hover{
    color: black;
}
header.row.col-md-3{
    padding: 4.2vmin;
}
header .row.col-md-9{
    padding: 50vmax 1vmax;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
}
header .row.col-md-3 img{
    width: 90%;
}
header.container.col-md-9 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}
header.container.col-md-9 button{
    padding-bottom: 35vmin;
    letter-spacing: 5px;
}