.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color:lightgrey;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}